body {
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 5em;
    padding-left: 4.3rem;
    color: #032946;

}

h2 {
    font-family: Figerona, sans-serif;
    font-weight: lighter;
    font-size: 2.2em; 
    background-color: #04131f;   
    padding-left: 1rem;
    padding-top: 1.4rem;
    padding-bottom: 1rem;
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    position: sticky;
}

h3 {
    color: #e6bd18;
    padding-left: 5.3rem;
    font-size: 3em;
}

h4 {
    padding-left: 5.3rem;
    margin-bottom: 0;
    font-size: 2em;
    color: #032946;
}

p {
    padding-left: 5.3rem;
    font-size: 1.7em;
    color: #032946;
    
}

li {
        padding-top: 1.6rem;
        padding-left: 5.3rem;
        font-size: 1.7em;
        color: #032946;
}
#Contacts {
    font-size: 1.3em;
    font-style: italic;
    margin-top: 2.5em;
    color: #e6bd18;
}
#GraphTitle {
    transform: rotate(-90deg);
}

a:link, a:visited, a:active {
    color: #e6bd18;
    text-decoration: none;
}

a:hover{
    color: #917712;
    text-decoration: none;
}

img {
    float: right;
    padding-top: 5rem;
    padding-right: 12rem;
}


main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar {
    font-family: Figerona, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 1.3rem;
    position: relative;
    float: right;
    margin-top: -81px;
    margin-right: 25px;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: rgb(151, 151, 151);
}

svg {
    border: solid lightgrey;
}

.container {
    position: relative;
    width: 1000px;
    height: 1000px;
    padding-left: 5rem;
}

#view, #view2, #view3, #view4 {
    padding-bottom: 5rem;
}